<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <center>
  <hr><b>Customer Update</b><hr>
  <form action="/edit" method="POST" id="productForm">
    <div class="control-group">
      <input type="text" name="id" class="form-control" id="id" placeholder="your main id" required>
  </div>
  <br>
    <div class="control-group">
      <input type="text" name="id" class="form-control" id="id" placeholder="Id" required />
    </div>
    <br>
    <div class="control-group">
      <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First Name" required />
    </div>
    <br>
    <div class="control-group">
      <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Last Name"
        required />
    </div>
    <br>
    <div class="control-group">
      <input type="text" name="city" class="form-control" id="city" value="Ahmedabad" placeholder="City" readonly
        required />
    </div>
    <br>
    <div class="control-group">
      <input type="text" name="company" class="form-control" id="company" value="SublimeDataSystems" placeholder="Company" readonly
        required />
    </div>
    <br>
    <br>
    <div>
      <button class="btn" type="submit" value="Customer" id="sendMessageButton">Add Customer</button>
    </div>
  </form>
</center>
</body>
</html>